$wrapper-margin: 15%;

// Search and Filters
.search-wrapper {
  background: #f3f4f5;
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  max-width: 1400px;
  padding-left: 80px;
  padding-right: 80px;
  margin: auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.25);
  z-index: 999;
  .category {
    display: none;
  }
  .search-input {
    width: 50%;
    margin-top: 12px;
    margin-bottom: 12px;
    position: relative;
    border-radius: 100px;
    overflow: hidden;
    height: 50px;
    border: solid 1px #cbcccd;
    background: white;
    input {
        border-radius: 100px;
        border: none;
        background: transparent;
    }
  }
  button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: 0;
            line-height: 40px;
            font-size: 24px;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            &.filter {
                background: transparent;
                border: none;
                border-left: #ccc 1px solid;
                font-weight: bold;
                font-size: 14px;
                padding: 0 1.5rem;
                right: 7rem;
                line-height: 46px;
                padding-left: 30px;
                i {
                    margin-left: 5px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    left: 10px;
                    top: 18px;
                    background: url('/images/redesign/icon-filters.svg');
                    background-size: cover;
                    width: 12px;
                    height: 12px;
                }
            }
        }
}

header#client-header {
    padding-left: 80px;
  padding-right: 80px;
    margin: auto;
    position: fixed;
    background: #000920;
    right: 0;
    left: 0;
    top: 0;
    z-index: 999;
    max-width: 1400px;
    a {
        color: white;
        text-decoration: none;
    }
    ul.tools {
        color: rgba(275,275,275,0.75);
        text-align: right;
        position: absolute;
        top: 15px;
        right: 80px;
        margin: 0rem 0.8rem;
        font-weight: 500;
        a {
            color: rgba(275,275,275,0.65);
        }
        li {
            display: inline-block;
            font-size: 14px;
            margin: 0 3px;
            &.spacer {
                margin: 0 15px;
            }
        }
    }

    nav {
        margin-top: 25px;
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        .words {
            float: left;
        }
    }

    .logo img {
        float: left;
        width: auto;
    }

    .container {
        align-items: center;
        display: flex;
        font-size: 100%;
        justify-content: space-between;
        padding: 1.5rem;
    }

    @media screen and (min-width: 60rem) {
        .container {
            padding: 1.5rem 0rem;
        }
    }

    .logo {
        align-items: center;
        display: flex;
        text-decoration: none;
    }

    .logo .lips {
        height: auto;
        margin-right: 0.5rem;
    }

    @media screen and (min-width: 60rem) {
        .logo .lips {
            margin-right: 1.5rem;
        }
    }

    .words {
        align-items: flex-end;
        display: flex;
    }

    .logo .text {
        height: auto;
        width: 8rem;
    }

    @media screen and (min-width: 60rem) {
        .logo .text {
            width: 12.2rem;
        }
    }

    .beta {
        color: #000;
        
        font-size: 1rem;
        margin-left: 0.75rem;
        position: relative;
        text-transform: uppercase;
        top: 0;
    }

    @media screen and (min-width: 60rem) {
        .beta {
            font-size: 1.2rem;
            top: -0.2rem;
        }
    }

    .desktop-menu {
        display: none;
        flex: 1;
        text-align: right;
    }

    .tools {
        display: none;
    }

    @media screen and (min-width: 962px) {
        .desktop-menu {
            display: inline-block;
        }
        .tools {
            display: block;
        }
    }

    .desktop-menu a {
        color: #fff;
        display: inline-block;
        font-weight: 600;
        font-size: 1.6em;
        margin: 0.5rem 1rem;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s;
    }

    .desktop-menu a:before, .desktop-menu a:after {
        background: #fe4d82;
        content: '';
        height: 2px;
        left: 0;
        opacity: 0;
        position: absolute;
        transition: all 0.3s;
        width: 100%;
    }

    .desktop-menu a:before {
        top: -1rem;
        transform: translate3d(0, -.5rem, 0);
    }

    .desktop-menu a:after {
        bottom: -1rem;
        transform: translate3d(0, .5rem, 0);
    }

    .desktop-menu a.active, .desktop-menu a:hover {
        color: #fe4d82;
        opacity: 1;
    }

    .desktop-menu a.active:before, .desktop-menu a.active:after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .mobile-menu {
        align-items: center;
        display: flex;
    }

    @media screen and (min-width: 962px) {
        .mobile-menu {
            display: none;
        }
    }

    .menu-button {
        cursor: pointer;
        margin-right: 3rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.2s linear;
    }

    .menu-icon {
        position: relative;
    }

    .menu-icon span {
        background: #fff;
        display: inline-block;
        height: .3rem;
        left: 0;
        position: absolute;
        transition: all 0.2s linear;
        vertical-align: middle;
        width: 3rem;
        z-index: 101;
    }

    .menu-icon span:nth-child(1) {
        top: 0;
    }

    .menu-icon span:nth-child(2) {
        transform: translate3d(0,-0.6rem,0);
    }

    .menu-icon span:nth-child(3) {
        transform: translate3d(0,0.6rem,0);
    }

    .menu-icon.active span:nth-child(1) {
        background: transparent;
        top: 0;
    }

    .menu-icon.active span:nth-child(2) {
        background: #fff;
        transform: rotate3d(0,0,1,45deg);
    }

    .menu-icon.active span:nth-child(3) {
        background: #fff;
        transform: rotate3d(0,0,1,-45deg);
    }

    .mobile-nav {
        display: none; 
        align-items: center;
        background: #fe4d82;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 100;
    }

    .mobile-nav.active {
        display: flex;
    }

    .mobile-nav a {
        border-bottom: 1px solid rgba(255,255,255,0.5);
        color: #fff;
        font-size: 2.4rem;
        padding: 3rem 0;
        text-align: center;
        text-decoration: none;
    }

    .mobile-nav a:last-child {
        border-bottom: none;
    }

}