.inventory-products {
    border-top: 1px #cacaca solid;
    margin: 1.5rem 0 3rem;
    padding-top: 3rem;

    h5 {
        font-family: 'Gotham-Medium';
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -1.5rem;
    }

    li {
        padding: 1.5rem;
        text-align: center;
        width: calc(100% / 2);
    }

    @media screen and (min-width: 60rem) {
        li {
            width: calc(100% / 5);
        }
    }

    a {
        color: #000;
        font-family: 'Gotham-Medium';
        font-size: 1.4rem;
        line-height: 133%;
        text-align: center;
        text-decoration: none;
    }

    .product-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 20rem;
        margin-bottom: 1.5rem;
        width: 100%;
    }

    .logo {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 20rem;
        margin-bottom: 1.5rem;
    }

    .logo img {
        height: auto;
        width: 70%;
    }
}