.body__welcome {
  .client-wrapper {
    background: transparent;
  }
}

.homepage-wrapper {
    .hero {
        overflow: hidden;
        min-height: 100vh;
        padding-bottom: 4rem;
        position: relative;
        padding: 100px;
        color: white;
        text-align: center;
        h1 {
            color: white;
        }
        > i {
            margin-top: 30px;
            font-size: 62px;
        }
    }

    .search {
        border-radius: 100px;
    }

    img {
        margin: 25px 15px;
    }

    img.feature-logo {
        height: 38px;
    }
    

    section.news {
        background: #feffff;
        padding-left: 4%;
        text-align: center;
        > .btn {
            border-color: #fa3668;
            color: #fa3668;
            margin: 60px 0;
        }
        article {
            color: white;
            width: 28%;
            margin: 0 2%;
            float: left;
            background-size: cover;
            background-position: center center;
            position: relative;
            text-align: center;
            padding: 80px 0;
            border-radius: 10px;
            overflow: hidden;
            min-height: 403px;
            h3,p,a {
                position: relative;
                z-index: 2;
                margin: 0 8% 25px 8%;
            }
            p {
                margin-left: auto;
                margin-right: auto;
                font-weight: 500;
            }
            a {
                text-decoration: none;
            }
            .btn {
                min-width: 140px;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.7);
                z-index: 0;
            }
        }
    }

    section.about {
        background: #f3f4f5;
        color: black;
        text-align: center;
        img {
            width: 50%;
            float: left;
            margin: 0;
        }
        p, h1 {
            float: left;
            text-align: left;
            width: 38%;
            margin-left: 6%;
            margin-right: 6%;
        }
        .btn {
            float: left;
            margin-left: 6%;
            border-color: #fa3668;
            color: #fa3668;
        }
    }

    section.education {
        background: #feffff;
        color: black;
        padding: 60px;
        text-align: center;
        li {
            list-style: none;
            display: inline-block;
            text-align: center;
            margin: 0 25px;
            width: 120px;
            img {
                display: block;
                width: 90%;
                margin: 15px auto;
            }
        }
    }

    section.featured-articles {
        article {
            width: 50%;
            float: left;
            background-size: cover;
            padding: 80px;
            color: white;
            position: relative;
            h2, a.btn, h4 {
                position: relative;
                z-index: 2;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.7);
                z-index: 0;
            }
        }
    }

    .options {
        width: 90%;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        position: relative;
    }

    @media screen and (min-width: 962px) {
        .options {
            width: 60%;
        }
    }

    .hero .slide-bg {
        background-size: cover;
        background-position: center;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }

    .hero .slide-bg:after {
        background: rgba(0,0,0,0.65);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @media screen and (min-width: 60rem) {
        .hero .slide-bg {
            background-attachment: fixed;
        }
    }

    h1 {
        line-height: 133%;
        margin: 0 auto 3rem;
        padding-top: 3rem;
        text-align: center;
        width: 90%;
    }

    p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    @media screen and (min-width: 60rem) {
        h1 {
            padding-top: 4rem;
            width: 85%;
        }
        p {
            width: 50%;
        }
    }

    .mailchimp {
        background: #F7F7F7;
        padding: 6rem 0;
        text-align: center;
    }

    .instagram-feed {
        padding: 6rem 0;
        text-align: center;
    }
    .filter-container {
        background: rgba(255,255,255,0.95);
        border: 2px #000 solid;
        display: block;
        margin: 0 auto;
        padding: 1.5rem;
        text-align: center;
        width: 90%;
    }

    @media screen and (min-width: 60rem) {
        .filter-container {
            padding: 1.5rem 3rem;
            width: 60%;
        }
    }

    h3 {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }


    h3 hr {
        background: #000;
        border: 0;
        flex: 1;
        height: 2px;
        width: auto;
    }

    h3 span {
        padding: 0 1rem;
    }

    @media screen and (min-width: 60rem) {
        h3 span {
            padding: 0 3rem;
        }
    }

    .options {
        text-align: left;
    }

    @media screen and (min-width: 60rem) {
        .options {
        }
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

    .options .column {
        padding: .5rem;
        width: 33%;
        float: left;
    }

    @media screen and (min-width: 60rem) {
        .options .column {
            width: 33%;
        }
    }

    .options .column:last-of-type {
        width: 100%;
    }

    @media screen and (min-width: 60rem) {
        .options .column:last-of-type {
            width: 50%;
        }
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 60rem) {
        h4 {
            font-size: 1.8rem;
        }
    }

    li {
        font-size: 1.2rem;
        margin-bottom: .5rem;
    }

    @media screen and (min-width: 60rem) {
        li {
            font-size: 1.6rem;
        }
    }

    li a {
        cursor: pointer;
    }

    li a.selected {
        color:#fe4d82;
    }

    li a.selected input[type="checkbox"] {
        background:#fe4d82;
    }

    input[type="checkbox"] {
        border-radius: 50%;
        border: 1px #000 solid;
        display: inline-block;
        height: 1rem;
        margin-right: 0.75rem;
        vertical-align: middle;
        width: 1rem;
    }

    input[type="number"] {
      border: 1px #cacaca solid;
      color: #000;
      font-size: 1.4rem;
      letter-spacing: 0.02rem;
      padding: .5rem 1rem;
      -webkit-appearance: none;
      width: auto;
    }

    input[type="number"]::-webkit-input-placeholder {
        color: #cacaca;
    }

    input[type="number"]::-moz-placeholder {
        color: #cacaca;
    }

    input[type="number"]:-ms-input-placeholder {
        color: #cacaca;
    }

    input[type="number"]:-moz-placeholder {
        color: #cacaca;
    }
}