@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700i|Raleway:400,500,600,700');

@font-face {
  font-family: 'Gotham-Light';
  src:  url('/fonts/gotham-light.woff2') format('woff2'),
        url('/fonts/gotham-light.woff') format('woff');
}

@font-face {
  font-family: 'Gotham-Book';
  src:  url('/fonts/gotham-book.woff2') format('woff2'),
        url('/fonts/gotham-book.woff') format('woff');
}

@font-face {
  font-family: 'Gotham-Medium';
  src:  url('/fonts/gotham-medium.woff2') format('woff2'),
        url('/fonts/gotham-medium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham-Bold';
  src:  url('/fonts/gotham-bold.woff2') format('woff2'),
        url('/fonts/gotham-bold.woff') format('woff');
}

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3 {   
    font-family: 'Playfair Display', serif;
    font-weight:900; 
    font-style:italic;
    line-height: 1.2;
}

h4, h5 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

textarea, input, button { outline: none; }

a {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  @include breakpoint(mobile){
    font-size: 40px;
  }
}

h2 {
  font-size: 52px;
  margin-bottom: 40px;
}

h3 {
  font-size: 36px
}

h3.section-heading {
  margin-bottom: 15px;
}

h4 small {
  font-size: 12px;
}

p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 40px;
}

.breadcrumbs {
  li {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    text-decoration: none;
    color: #fe4d82;
  }
}

button.btn, a.btn {
  display: inline-block;
  background: transparent;
  border: 2px solid rgba(275,275,275,0.55);
  color: white;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  min-width: 250px;
  text-align: center;
}