
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import"/modules/_autocomplete";

.product {
  img {
    width: 100%;
  }
}

.form-group h4, #onboard_autocomplete {
  margin-right: 30px;
  margin-left: 30px;
}

li.highlighted {
  background: #ccc;
}

ul.options-list {
  list-style: none;
  text-align: left;
}

#autocomplete > .row {
  width: 100%;
}