.modal {
  content: '';
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; 
  background: rgba(0,0,0,0.85);
  z-index: 9999;
  #cancel {
    font-size: 26px;
    color: rgba(0,0,0,0.25);
    position: absolute;
    right: 25px;
    top: 25px;
    cursor: pointer;
  }
  h3 {
    text-align: center;
  }
  a {
    text-decoration: underline !important;
  }
  a.add_product_trigger {
    font-size: 14px;
  }
  button {
    margin-bottom: 25px;
  }
  .modal-wrap {
    background: white;
    position: relative;
    z-index: 9999;
    width: 48%;
    margin: 4vw auto 0 auto;
    padding: 30px;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
  }
  .filters {
    h3 {
      margin-bottom: 15px;
    }
    .filter {
      float: left;
      width: 33.3%;
      margin: 5px 0;
      label {
        display: inline !important;
      }
    }
  }
}